*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  color: #ffffff;
  min-height: 100vh;
  width: 100%; 
  background-image: url(../img/LakeMerritt.jpeg);
  background-size: cover;
  background-position:center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
}

h1{
    font-family: "cooper-black-std", serif;
    font-weight: 400;
    font-size:8.375em;
    font-style: normal;
    text-align: center;
    display: flex;
    flex-direction: row;  
}
h2{
  font-family: "cooper-black-std", serif;
  font-weight: 400;
  font-style: italic;      
  text-decoration: none;
  color: white;
  display: inline-block;
}
h3{
    font-family: "interstate", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2.500em

}
h6{
  font-family: "cooper-black-std", serif;
  font-weight: 400;
  font-size: 3.375em;
  font-style: normal;
  text-align: center;
  display: flex;
  flex-direction: row; 
}
p{
    font-family: "interstate", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.875em;
    text-align: center;
}
.overlay{
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}
#overlayleft{
  background: #ff0090;
  object-fit: cover;
  min-height: 100vh;
  justify-content: left;
  width: 33.3%;
  opacity: 0.4;
  overflow: hidden;
}
#overlaycenter{
  background: #8cc63f;
  object-fit: cover;
  min-height: 100vh;
  justify-content: center;
  width: 33.3%;
  opacity: 0.4;
  overflow: hidden;
}
#overlayright{
  background: #29abe2;
  object-fit: cover;
  min-height: 100vh;
  justify-content: right;
  width: 33.3%;
  opacity: 0.4;
  overflow: hidden;
}

.container{
  width: 100%;
  height: 100vh;
}
.sections{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  background-color: #603813;
  background-image: url(../../img/texture.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  font-family: "cooper-black-std", serif;
  font-weight: 400;
  font-style: normal;
  width: 100%;
  height: 15vh;
  position: fixed;
}

.navbar a {
  float: left;
  display: inline-block;
  color: #f2f2f2;
  padding: 5vh;
  text-decoration: none;
  align-content: center;
   }


.active, .btn:hover, .btn{
   border: orange;
   border-radius: 2.5vh;
   cursor: pointer;
   float: left;

   }
  #HomeIcon, .hover{
    transform:scale(1.5);
    transition: all;
    transition-duration: .5;
  }
  .homeicon {
    padding: 5vh;
    text-decoration: none;
  }

  #partners{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 20%;
    height: 20%;
  }

    
    a{
      text-decoration: none;
      color: white;
      text-shadow: 0.188em 0.188em black;
    }

  footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 2.5%;
    background-color: #603813;
    background-image: url(../img/texture.png);
    background-repeat: no-repeat;
    background-size: cover;
    justify-items: center;
  }
 
  

  /*ANIMATIONS/*

  
