*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  color: #ffffff;
  min-height: 100vh;
  background-image: url(../img/LakeMerritt.jpeg);
  background-size: cover;
  background-position:center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
}

h1{
    font-family: "cooper-black-std", serif;
    font-weight: 400;
    font-size:9.375em;
    font-style: normal;
    text-align: center;
    display: flex;
    flex-direction: row;  
    -webkit-text-stroke: .035em black;  
}
h2{
  font-family: "cooper-black-std", serif;
  font-weight: 400;
  font-style: italic;   
  font-size:4.375em;   
  text-decoration: none;
  color: white;
  display: inline-block;
  text-align: center;
  -webkit-text-stroke: .055em black;
  
}

h3{
  font-family: "cooper-black-std", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3.0625em;
  color: #ffffff;
}
h4{
  font-family: "proxima-nova", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 4.0625em;
  color: #ffffff;
}
h5{
font-family: "proxima-nova", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3.125em;
  color: #ffffff;
}

h6{
  font-family: "proxima-nova", sans-serif;
  font-weight: 500;
  font-style: italic;
  font-size: 2.8125em;
  color: #ffffff;
}


.navbar {
  background-color: #603813;
  background-image: url(../../img/texture.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  width: 100%;
  height: 15vh;
  position: fixed;
  z-index: 100;
}
.homeicon{
  padding: 5vh;
  text-decoration: none;
  justify-content: left;
  position: fixed;
  margin-left:10%;
  transition: none;
}

.navbar a {
  float: left;
  text-align: center;
  padding: 5vh 5vh 5vh 5vh;
  text-decoration: none;

}


#lineuplink a:hover {
  transform: scale(1.3);
  color: orange;
  cursor:pointer;  
  transition-duration: 1s;
}
#shoplink a:hover {
  color:#29abe2;
  transform: scale(1.3);
  transition: 1s;
  cursor:pointer;
}
 
section{
  width: 100%;
  height: 150vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: absolute;
}
#overlayleft{
  background: #ff0090;
  object-fit: cover;
  min-height: 200vh;
  justify-content: left;
  width: 33.3%;
  opacity: 0.4;
  overflow: hidden;
}
#overlaycenter{
  background: #8cc63f;
  object-fit: cover;
  min-height: 200vh;
  justify-content: center;
  width: 33.3%;
  opacity: 0.4;
  overflow: hidden;
}
#overlayright{
  background: #29abe2;
  object-fit: cover;
  min-height: 200vh;
  justify-content: right;
  width: 33.3%;
  opacity: 0.4;
  overflow: hidden;
}
#containerparent1{
  width: 100%;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}


#containerchild1{
  margin-top: 20%;
  margin-bottom: 20%;
  text-align: center;
  justify-content: center;
  min-height: 100vh;
  margin-left: 10%;
  margin-right: 10%;
  position: relative;
}
#containerchild2{
  justify-content: center;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
  margin-top: 10%;
  padding: 3%;
  border-radius: 2.5em;
  border-width: 2.5em;
  border-color: #603813;
  text-align: center;
  background-color: #c59b6d;
  text-shadow: 0.200em 0.200em #462506;
}


.alignleft{
  text-align: left;
  font-size: 1.00em;
}
.alignright{
  text-align: right;
}

.lineupbtn{
  width: 5.00em;
  height: 1.5em;
  text-align: center;
  font-family: "cooper-black-std", serif;
  font-weight: 400;
  font-style: italic; 
  text-transform: uppercase;  
  font-size:1.00em;   
  text-decoration: none;
  color: white;
  display: inline-block;
  -webkit-text-stroke: .055em black;
  background-color:#c59b6d;
  border-radius: .5em;
  border-width: .10em;
}
.lineupbtn:hover{
  transform: scale(1.2) ;
  background-color: orange;
  border-color: #603813;
  transition: all 0.5s;
  cursor: pointer;
}


  #partners{
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 5%;
    height: 5%;  
  }

    
    a{
      text-decoration: none;
      color: white;
      text-shadow: 0.188em 0.188em black;
    }
    #page-container {
      position: relative;
      min-height: 100vh;
    }
    
    #content-wrap {
      padding-bottom: 1vh;    /* Footer height */
    }
  footer{
    position:absolute;
    bottom: 0;
    width: 100%;
    height: 25vh;
    background-color: #603813;
    background-image: url(../img/texture.png);
    background-repeat: no-repeat;
    background-size: cover;
    justify-items: center;
    justify-content: last baseline;
    z-index: 10;

  }
  
 @media screen {
  
 }
  

  /*ANIMATIONS/*

  
