*{
  margin: 0;
  padding: 0;
  }
  html{
    background-image: linear-gradient(#f4901e, #ff0090);
    background-repeat: no-repeat;
    min-height: 100%;
    background-attachment:scroll;
  
  }
  body{
    margin: 0;
    padding: 0;
      color: #ffffff;
      min-height: 100vh;
      width: 100%; 
  }
  
  h1{
    font-family: "cooper-black-std", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 7.375em;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: row;  
    }
  h2{
    font-family: "cooper-black-std", serif;
    font-weight: 400;
    font-style: italic;   
    font-size: 6.25em;   
    color: white;
    text-decoration: none;
    display: inline-block;
    text-align: center;
  }

  h3{
      font-family: "proxima-nova", sans-serif;
      font-weight: 900;
      font-style: normal;
      font-size: 4.0625em;
      color: #ffffff;
    }
  h4{
    font-family: "proxima-nova", sans-serif;
      font-weight: 700;
      font-style: normal;
      font-size: 3.125em;
      color: #ffffff;
    }

  h5{
      font-family: "proxima-nova", sans-serif;
      font-weight: 500;
      font-style: italic;
      font-size: 2.8125em;
      color: #ffffff;
  }
  h6{
    font-family: "proxima-nova", sans-serif;
      font-weight: 700;
      font-style: normal;
      font-size: 2.8125em;
      color: #ffffff;
      text-decoration: dotted;
  }
  a{
     font-family: "cooper-black-std", serif;
     font-weight: 400;
     font-style: italic; 
     font-size: 1.00em;    
     text-decoration: none;
     color: white;
     display: inline-block;
     text-shadow: 0.188em 0.188em black;
  
  }
  .container{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: row;
    justify-content: space-between;
  }
  .sections{
    width: 100%;
    height: 100vh;
    
  }
  .navbar {
    overflow: hidden;
    background-color: #603813;
    background-image: url(../../img/texture.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    width: 100%;
    height: 15vh;
    position: fixed;
    z-index: 500;
  }
  

  .navbar a {
    float: left;
    display: inline-block;
    color: #f2f2f2;
    padding: 5vh;
    text-decoration: none;
    align-content: center;
     }

  
 .active, .btn:hover, .btn{
     border: orange;
     border-radius: 2.5vh;
     cursor: pointer;
     float: left;

     }
     li{list-style-type: none;
     }
  .footer{
     margin-top: auto;
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      color: white;
      background-color: #603813;
      background-image: url(../../img/texture.png);
     }
     #Day1Summary{
      text-align: left;
      margin-top: 10%
     }
     #Day2Summary{
      text-align: right;
      text-decoration: none;

     }
     #Day3Summary, #Concert{
      text-align: left;
      margin-bottom: 10%;
     }
     
     .FullLineup{
      display: flex;
      flex-direction: column;
      width: 40%;
     }

    
    .image {
      display: block;
      width: 100%;

      border-color: #ff0090;
    }
    
    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: .5s ease;
       background-color: #ff0090;
    }
    
    .container:hover .overlay {
      opacity: .9;
    }
    
    .text {
      color: white;
      font-size: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
    }

     @media screen and (
      max-width: 800px){
        .container{
        width: 90%;
        }
        
     }