*{
  margin: 0;
  padding: 0;
  }
  html{
    scroll-behavior: smooth;
    background-repeat: no-repeat;
    min-height: 100%;
    background-attachment:scroll;
  
  }
  body{
    margin: 0;
    padding: 0;
      color: #ffffff;
      min-height: 100vh;
      width: 100%; 
  }
  
  h1{
    font-family: "cooper-black-std", serif;
    font-weight: 400;
    font-size:9.375em;
    font-style: normal;
    text-align: center;
    display: flex;
    flex-direction: row;  
    -webkit-text-stroke: .035em black;  
}
h2{
  font-family: "cooper-black-std", serif;
  font-weight: 400;
  font-style: italic;   
  font-size:4.375em;   
  text-decoration: none;
  color: white;
  display: inline-block;
  text-align: center;
  -webkit-text-stroke: .055em black;
  
}

h3{
  font-family: "cooper-black-std", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3.0625em;
}
h4{
  font-family: "proxima-nova", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 4.0625em;
  color: #ffffff;
}
h5{
font-family: "proxima-nova", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3.125em;
  color: #ffffff;
}

h6{
  font-family: "proxima-nova", sans-serif;
  font-weight: 500;
  font-style: italic;
  font-size: 2.8125em;
  color: #ffffff;
}

  .navbar {
    background-color: #603813;
    background-image: url(../../img/texture.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    width: 100%;
    height: 15vh;
    padding: 2%;
    position: fixed;
    z-index: 100;
  }
  li{list-style-type: none;
    display: inline;
    position: relative;
  }
  .homeicon{
    padding: 5vh;
    text-decoration: none;
    justify-content: left;
    position: fixed;
    margin-left:10%;
    transition: none;
  }
 
  
  .navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 5vh 5vh 5vh 5vh;
    font-family: "cooper-black-std", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.0625em;
    
  
  }
  
  #lineuplink a{
  color: #ffffff;
  background-color: #F4901E;
  border-radius: 2em;
  }
  #shoplink a{
    text-decoration: none;
  } 
  
  #shoplink a:hover {
    color:#29abe2;
    transform: scale(1.3);
    transition: all 1s;
    cursor:pointer;
  }
  hr{
    border: 10px solid #603803;
    border-radius: 20em;
  }

  

  
  .sections{
    width: 100%;
    height: 100vh;
    background-color: #F8584B;
    
  }
  

  
    
  .footer{
     margin-top: auto;
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      color: white;
      background-color: #603813;
      background-image: url(../../img/texture.png);
     }
     #festivalgrounds{
      padding-top: 10%;
      text-align: center;
      padding-bottom: 5%;
     }
     #festivalmapimg{
      width: 60%;
      }
     
     .containerparent, #containerchild0{
      padding-top: 8%;
      padding-bottom:5%;
      background-color: #F4901E;
      margin: 0;
      display: flex;
      justify-content: center;
      min-height: 60vh;
     }
    

     #Day1Summary{ 
      text-align: left;
      padding-left: 5%;
      padding-right: 30%;
     }
     .containerparent1{
      background-color: #F26835;
     }
     #Day2Summary{
      margin-right: 5%;
      text-align: right;
      text-decoration: none;
      margin-left: 30%;
     }
     .containerparent2{
      background-color: #F24B4B;
     } 
     #Day3Summary{
      text-align: left;
      margin-left: 5%;
      margin-bottom: 0;
      margin-right:30%;
     }
     .containerparent3, .containerparent4{
      background-color: #F23D6D;
     }
     
    