*{
    margin: 0;
    padding: 0;
  }
  body{
     background-image: linear-gradient(#29abe2, #823be5);      
      color: #ffffff;
      min-height: 100vh;
      width: 100%; 
  }

h1{
  font-family: "cooper-black-std", serif;
  font-weight: 400;
  font-size:9.375em;
  font-style: normal;
  text-align: center;
  display: flex;
  flex-direction: row;  
  -webkit-text-stroke: .035em black;  
}
h2{
font-family: "cooper-black-std", serif;
font-weight: 400;
font-style: italic;   
font-size:4.375em;   
text-decoration: none;
color: white;
display: inline-block;
text-align: center;
-webkit-text-stroke: .055em black;

}

h3{
font-family: "cooper-black-std", serif;
font-weight: 400;
font-style: normal;
font-size: 3.0625em;
}
h4{
font-family: "proxima-nova", sans-serif;
font-weight: 900;
font-style: normal;
font-size: 4.0625em;
color: #ffffff;
}
h5{
font-family: "proxima-nova", sans-serif;
font-weight: 700;
font-style: normal;
font-size: 3.125em;
color: #ffffff;
}

h6{
font-family: "proxima-nova", sans-serif;
font-weight: 500;
font-style: italic;
font-size: 2.8125em;
color: #ffffff;
}

.navbar {
  background-color: #603813;
  background-image: url(../../img/texture.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  width: 100%;
  height: 15vh;
  padding: 2%;
  position: fixed;
  z-index: 100;
}
li{list-style-type: none;
  display: inline;
  position: relative;
}
.homeicon{
  padding: 5vh;
  text-decoration: none;
  justify-content: left;
  position: fixed;
  margin-left:10%;
}
.homeicon :hover {
  transform: scale(1.3);
  transition: all 1s;
  cursor:pointer;
}

.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 5vh 5vh 5vh 5vh;
  font-family: "cooper-black-std", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.0625em;
  

}
  .container{
    padding-top: 15%;
    width: 100%;
    height: 100vh;
  }
  .sections{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #lineuplink a{
    text-decoration: none;
    }
    #lineuplink a:hover {
      color:#f4901e;
      transform: scale(1.3);
      transition: all 1s;
      cursor:pointer;
    }
    #shoplink a{
    color: #ffffff;
    background-color: #29abe2;
    border-radius: 2em;
    } 
    .columns {
      width: 100%;
      display:flex;
      justify-content: center;
  }
   